language = "python3"
run = "pip install colorama ; wait ; python main.py"
# Use semicolons instead of ampersand because semicolons executes in sequence (even if it fails), and then executes, whilst ampersand executes in parallel